*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section
{
    position: relative;
    width: 100%;  /*nesnelerin bulunduğu alanın */
    min-height: 630px;  /* nesnelerin bulunduğu bütün alanın minimum boyutu*/
    padding-right: 100px; /*padding etiketi nesnenin iç kenar boşluğunu ayarlamak için kullanılır.  */
    padding-left: 100px;
    padding-top: 50px;
    display: flex;  /*yatay ve dikey hizalarda nasıl görüneceğini, öğelerin kendi içinde hizalanmalarını ve sırasını belirlemek için kullanılır*/
    background-color: white;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;  /*class içindeki İlk nesne başta, son nesne sonda olacak şekilde nesneler eşit olarak kapsayıcının içerisinde dizilirler. */ 
    align-items: center; /*justify-content‘in yatay eksende yaptığı şeyleri dikey eksende yapmaya yarar.*/
}

header .logo
{
    position: relative; /* nesnenin sayfa içerisinde normal konumda olmasını sağlar. position:fixed olsaydı kaydırma ile birlikte nesnede hareket edecekti*/
    max-width: 80px;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    list-style: none;  /*liste işaretlerini kaldırmak için kullanılır. etiket olmasaydı sayfadaki menüler . menü . iletişim şeklinde olacaktı*/
}

header ul li a /* header sınıfında kullanılan li etiketinin içindeki a etiketi için özellikleri yazıyoruz */
{
    color: #333;
    margin-left: 50px;
    text-decoration: none; /*metinlerin altı çizili olma özelliğini kaldırır */
    font-weight: bold;  /* metinlerin kalınlığı / inceliği ayarlanmak için kullanılır */ 
    
}


.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox
{
    position: relative;
    max-width: 600px;
}

.content .textBox h2
{
    color: #333;  /*  metin rengi belirlenir */
    font-size: 4em; /* metin boyutu belirlenir */ 
    line-height: 1.4em;  /* iki metin arasındaki boşluğu belirler */ 
    font-weight: 500;  
}

.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p 
{
    color: #333;
}

.content .textBox a
{
    display: inline-block;
    margin-top: 20px;  /* nesnelerin dış kenar boşluğunu ayarlamak için kullanılır */
    padding:  8px 20px;
    background:#017143;  
    color: #fff;
    border-radius: 40px; /* nesnenin kenar kıvrımını belirler. border-radius etiketini kaldırsaydık daha fazla bilgi edin yazısındaki yeşil renk kenarları kare olacaktı */
    font-weight: 500;
    letter-spacing: 1px;  /* metinlerdeki harfler arasındaki boşluğu belirler*/
    text-decoration: none;
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.content .imgBox img 
{
    max-width: 360px;
}

.thumb 
{
    position: absolute;
    left: 24%;  /* nesnenin sol kenardan  belirlenen değer kadar boşluk bırakılmasını sağlar */
    bottom: 30px; /* nesnenin alt kenardan  belirlenen değer kadar boşluk bırakılmasını sağlar */
    transform:translateX(-50%);  /* classın üzerine mouse ile geldiğimizde nesnenin konumunu hareket ettirir. örn: sayfadaki küçük resimler */
    display: flex;
}

.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;  /* mouse link üzerine geldiğinde fare imlecinin el  simgesi şeklinde olmasını sağlar */
    transition:0.5s; /* nesnenin konumunu hareket ettirirken hareket hızını belirler */
}

.thumb li:hover
{
    transform: translateY(-15px);  
}

.thumb li img
{
    max-width: 60px;
}

.icons
{
    position:absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.icons li
{
    list-style: none;
    filter: invert(1);  /* elemanların renklerini ters çevirmeye yarar  0-100 arasında deger girilir 100'e yaklaştıkça ters cevirme oranı  artar*/
}

.icons li a
{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);  

}

.circle 
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(700px at right 800px); 
    /* clip-path  öğelerinin görünür kısımlarının kırpılmasına izin verir.
    kodu clip-path: polygon(50% 0%, 0% 100%, 100% 100%);  şeklinde yazsaydık yarı yuvarlak olan şeklimiz üçgen olacaktı */
}
